.input-group-addon:hover{
    background-color: darkgrey;
}
input[type=text]{
    background-color: white;
}

@media screen and (max-width: 540px) {
    input[type=checkbox]{
        margin: -10% 0 0;
    }
}
